.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerItem {
    max-width: 600px;
    width: 100%;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
}