
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #1e1d1d;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #d4d4d4;
    font-size: xx-large;
}