
.project {
    background-color: #1e1d1d;
    padding: 25px;
    margin-top: 10px;
    color: white;
    max-width: 600px;
    min-width: 400px;
    text-decoration: none;
    font-size: x-large;
}

.spin {
    position: fixed;
    left: 50%;
    top: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 25px;
}

.description {
    font-size: 15px;
}