.input {
    margin-top: 10px;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
}

.textarea {
    width: calc(100% - 4px);
}

.select {
    color: inherit;
    background-color: inherit;
    border: 1px solid #1e1d1d;
}